[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

"beautifulsoup4" = "*"
ghp-import = "*"
Markdown = "*"
pelican = "*"
pygal = "*"
typogrify = "*"

[requires]
python_version = "3.7"
