<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}

  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}

  {% block extra_head %}{% endblock extra_head %}
</head>

<body>
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %}<strong>{{ SITESUBTITLE }}</strong>{% endif %}
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <!-- Menu items -->
        {% for title, link in MENUITEMS %}
          <a class="navbar-item" href="{{ link }}">{{ title }}</a>
        {% endfor %}
        <!-- Pages -->
        {% if DISPLAY_PAGES_ON_MENU -%}
        {% for pg in pages %}
          <a class="navbar-item {% if pg == page %}is-active{% endif %}" href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
        {% endfor %}
        {% endif %}
        <!-- Categories -->
        {% if DISPLAY_CATEGORIES_ON_MENU -%}
        {% for cat, null in categories %}
          <a class="navbar-item {% if cat == category %}is-active{% endif %}" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        {% endfor %}
        {% endif %}
      </div>
      <div class="navbar-end">
        {% for name, link in SOCIAL %}
          <a class="navbar-item" href="{{ link }}">
            <span class="icon">
              <i class="fa fa-{{ name | lower }}"></i>
            </span>
          </a>
        {% endfor %}
        {% if FEED_ALL_ATOM %}
        <a class="navbar-item" href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate">
            <span class="icon">
              <i class="fa fa-rss"></i>
            </span>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <section id="extras" class="body">
    {% if LINKS %}
    <div class="blogroll">
      <h2>{{ LINKS_WIDGET_NAME | default('links') }}</h2>
      <ul>
      {% for name, link in LINKS %}
        <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
      </ul>
    </div><!-- /.blogroll -->
    {% endif %}
  </section><!-- /#extras -->

    <footer class="footer">
      <div class="content has-text-centered">
        </span>
      The website content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </div>
    </footer><!-- /#contentinfo -->

{% include 'analytics.html' %}
</body>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>
</html>
