{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
<section class="section">
  <div class="container is-max-desktop">
      {% for article in articles_page.object_list %}
        <div class="block">
          <div class="card">
            <div class="card-content">
              <p class="title is-4">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
              </p>
              <p class="subtitle is-6">
                <time>{{ article.locale_date }}</time>
              </p>
              <div class="content">{{ article.summary | striptags }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</section>
{% else %}
<section id="content" class="section">
<h2>Pages</h2>
    {% for page in pages %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}
