/* Imports */
@import url("pygment.css");

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: sans-serif;
}

h1, h2, h3 {
  line-height: 1.2
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 0.5rem;
}

a, a:visited {
  color: rgb(65, 110, 210);
}

.entry-content p {
  text-align: justify;
}
